@import '../../styles/variables';

section.section {
    background-color: #e8efff;
    padding: 50px 0;
}

.icons {
}

.textCol {
    @media screen and (max-width: $mdBreakpointMin) {
        order: 2;
    }
}

.imageCol {
    @media screen and (max-width: $mdBreakpointMin) {
        order: 1;
    }
}

.animate {
    width: 150px;
}

.title {
    margin-top: 10px;
}

.buttons {
    display: flex;
    flex-wrap: wrap;

    & > a {
        margin-right: 12px;
        margin-bottom: 12px;
    }
}
