@import "../../styles/helpers/font-size";
@import "../../styles/helpers/make-property";

.button {
  border: none;
  outline: none;
  cursor: pointer;
  @include make-property('border-radius', 5px);
  font-weight: 700;
  text-transform: uppercase;
}

.orange {
  color: white;
  background-color: var(--orange);
}
.whiteSolid {
  color: var(--orange);
  background: white;
  box-shadow: 0 1px 8px rgba(0, 0, 0, .08);
}
.whiteOutline {
  color: white;
  border: 2px solid white;
  background-color: transparent;
}

.medium {
  @include make-property('font-size', 18px);
  padding: 17px 22px;
}

.small {
  @include make-property('font-size', 16px);
  padding: 12px 14px;
}