@import '../../styles/variables';

section.section {
    margin-top: 100px;
    @media screen and (max-width: $mdBreakpointMin) {
        margin-top: 70px;
    }
}

.title {
    text-align: center;
    margin-bottom: 65px;
    margin-top: 20px;
}

$gridGap: 10px;

.sponsorImage {
    display: block;
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}

.platinum,
.gold,
.silver,
.bronze,
.digital,
.venue,
.partners {
    margin-bottom: 100px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    a {
        margin: 30px auto;
        display: block;
        width: auto;
        height: auto;
    }
    & > div {
        padding: 20px;
        box-sizing: border-box;
    }

    @media screen and (max-width: $mdBreakpointMin) {
        margin-bottom: 20px;
    }

    & > a {
        padding: $gridGap;
    }
}

.platinum,
.gold,
.silver {
    & > div {
        width: 100%;
    }
}

.bronze,
.digital,
.partners,
.venue {
    & > div {
        width: calc(100% / 4);
        @media screen and (max-width: $mdBreakpointMin) {
            width: calc(100% / 3);
        }
    }
}

.platinum {
    a {
        max-width: 500px;
        max-height: 500px;
    }
}

.gold {
    a {
        max-width: 400px;
        max-height: 400px;
    }
}

.silver {
    a {
        max-width: 300px;
        max-height: 300px;
    }
}

.bronze {
    a {
        max-width: 250px;
        max-height: 250px;
    }
}

.venue {
    a {
        max-width: 300px;
        max-height: 300px;
    }
}

.digital,
.partners {
    a {
        max-width: 140px;
        max-height: 140px;
    }
}

.section-title {
    text-align: center;
}

.medal {
    width: 100px;
    height: 100px;
    margin: auto;
}

.sparkleGif {
    margin: auto;
    width: 150px;
    display: block;
}

.comingSoon {
    text-align: center;
}
