@import '../../styles/helpers/make-property';

.ticket {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 850px;
    margin: auto;
    position: relative;
}

$shadow: 0 0 15px rgba(0, 0, 0, 0.08);

.ticketBody {
    display: flex;
    align-items: center;
    position: relative;
    height: 121px;
    background-color: white;
    margin-right: 9px;
    border-radius: 27px 0 0 27px;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: $shadow;
    flex-grow: 1;
    @media screen and (max-width: 650px) {
        border-radius: 27px;
        margin-right: 0;
        height: auto;
    }
    @media screen and (max-width: 420px) {
        padding: 40px 20px;
    }
}

.ticketAction {
    position: relative;
    height: 121px;
    background-color: white;
    border-radius: 0 27px 27px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 9px;
    box-sizing: border-box;
    padding: 20px 20px 20px 11px;
    box-shadow: $shadow;
    flex-grow: 6;
    max-width: 200px;
    @media screen and (max-width: 650px) {
        display: none;
        border-radius: 27px;
    }
}

.icon {
    svg {
        width: 72px;
        @media screen and (max-width: 650px) {
            width: 45px;
        }
    }
    @media screen and (max-width: 420px) {
        display: none;
    }
}

.ticketInfo {
    margin-left: 20px;
    & > p,
    span {
        margin: 0;
    }
    & > p {
        @include make-property('font-size', 30px);
        @include make-property('line-height', 23px);
    }
    span {
        @include make-property('font-size', 18px);
        color: #a6aec4;
        p {
            margin: 0;
            line-height: 22px;
            margin-top: 5px;
        }
    }
}

.ticketEndLeft,
.ticketEndRight {
    position: absolute;
    width: 9px;
    height: 100%;
    object-fit: contain;
    background-size: cover;
    background-repeat: no-repeat;
    @media screen and (max-width: 650px) {
        display: none;
    }
}

.ticketEndRight {
    left: 100%;
    top: 0;
}

.ticketEndLeft {
    right: 100%;
    top: 0;
}

.dashedLine {
    width: 1px;
    height: 105px;
    border-left: 1px dashed #d3cfcf;
    background-color: white;
    opacity: 0.5;
    @media screen and (max-width: 650px) {
        display: none;
    }
}

.locked {
    cursor: not-allowed;
    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.7);
        border-radius: 27px;
        pointer-events: none;
    }
}

.pill {
    padding: 3px 15px;
    border-radius: 7px;
    margin-left: 30px;
    text-align: center;
    p {
        margin: 0;
        color: white;
        font-weight: 700;
    }
    @media screen and (max-width: 650px) {
        position: absolute;
        left: 50%;
        top: 0;
        transform: translate(-50%, -50%);
        margin: 0;
    }
}

.live {
    background-color: var(--secondary);
    box-shadow: 0 0 20px rgba(59, 102, 250, 0.3);
}

.soldOut {
    background-color: #ff5555;
    box-shadow: 0 0 20px rgba(255, 85, 85, 0.3);
}

.finished {
    background-color: #3dd861;
    box-shadow: 0 0 20px rgba(61, 216, 97, 0.3);
}

.external {
    display: none;
    flex: 1;
    text-align: right;
    svg {
        width: 30px;
        height: 30px;
    }
    @media screen and (max-width: 650px) {
        display: block;
    }
}
