section.section {
  position: relative;
  margin-top: 60px;
  padding-top: 130px;
  background-size: 95% 45%;
  background-position: top center;
  background-repeat: no-repeat;
  overflow: hidden;

  @media screen and (max-width: 600px) {
    margin-top: 0;
    padding-top: 100px;
  }
}

.title {
  text-align: center;
  margin-bottom: 50px;
}

.diagonal {
  position: absolute;
  top: 0;
  width: 100%;
  margin-top: 300px;
}

.greenCircle, .dotGrid {
  position: absolute;
}

.dotGrid {
  top: 100px;
  left: 20vw
}

.greenCircle {
  right: 22vw;
  top: 60px;
}