@import '../../styles/helpers/make-property';

.navigation {
    position: absolute;
    width: 100%;
    top: 0;
    margin: 0;
    padding: 40px 0;
    z-index: 100;

    .navigationList {
        list-style: none;
        display: inline-flex;

        .navigationItem {
            margin: 0 22px;
            @include make-property('font-size', 16px);
            color: white;
            font-weight: 700;
            text-transform: uppercase;

            a {
                text-decoration: none;
            }
        }
    }

    @media screen and (max-width: 660px) {
        padding-top: 10px;
    }
}

.logo {
    width: 150px;
    @media screen and (max-width: 340px) {
        width: 100px;
    }
}

.button {
}

.badge {
    //left: 50%;
    //transform: translateX(-50%);
    display: block;
    max-width: 100px;
    min-width: 60px;
    position: fixed;
    top: 0;
    right: 20px;
    z-index: 10000;
    @media screen and (max-width: 874px) {
        display: none;
    }
}
