@import "../../styles/helpers/make-property";
.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 40px 0;

  .navigationList {
    list-style: none;
    display: inline-flex;

    .navigationItem {
      margin: 0 22px;
      @include make-property('font-size', 16px);
      color: white;
      font-weight: 700;
      text-transform: uppercase;

      a {
        text-decoration: none;
      }
    }

  }
}

.logo {
  width: 100px;
}

.button {

}


