.page {
    height: 100%;
    background-color: #04144b;
}

.section {
    margin-bottom: 208px;
    &:last-child {
        margin-bottom: 0;
    }

    @media screen and (max-width: 760px) {
        margin-bottom: 130px;
    }
}
