@import "../../styles/helpers/make-property";

.header {
  height: 100vh;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: bottom center;
  margin-bottom: 15vw;

  @media screen and (max-width: 960px) and (max-height: 912px) {
    height: auto;
    position: relative;
    padding-top: 230px;
  }
}

.video {
  margin: auto;
  position: absolute;
  top: calc(50% + 130px);
  left: 50%;
  transform: translate(-50%, -50%);

  @media screen and (max-width: 960px) and (max-height: 912px) {
    position: relative;
    top: unset;
    left: 0;
    transform: unset;
    margin-bottom: 160px;
  }
}

.feature-text {
  @include make-property('font-size', 180px);
  font-weight: 900;
  color: #081C64;
  text-align: center;
  margin: 0;
  line-height: 100px;
  opacity: .88;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  width: 100%;

  @media screen and (max-width: 960px) {
    @include make-property('font-size', 130px);
  }

  @media screen and (max-width: 690px) {
    @include make-property('font-size', 100px);
  }
}

.feature-text-top {
  @extend .feature-text;
  top: 0;
  transform: translate(-50%, -100%);

  @media screen and (max-width: 960px) {
    transform: translate(-50%, -85%);
  }

  @media screen and (max-width: 690px) {
    transform: translate(-50%, -80%);
  }
}

.feature-text-bottom {
  @extend .feature-text;
  bottom: 0;
  transform: translate(-50%, 100%);

  @media screen and (max-width: 960px) {
    transform: translate(-50%, 85%);
  }

  @media screen and (max-width: 690px) {
    transform: translate(-50%, 80%);
  }
}

.videoComponent {
  position: relative;
  z-index: 5;
}

.embed {
  position: relative;
  z-index: 5;
  max-width: 1800px;
  height: 500px;
  width: 890px;
  margin: auto;
  iframe {
    border-radius: 10px;
  }

  @media screen and (max-width: 960px) {
    height: 354px;
    width: 630px;
  }

  @media screen and (max-width: 690px) {
    height: 236px;
    width: 420px;
  }

  @media screen and (max-width: 450px) {
    height: 197px;
    width: 350px;
  }
}