.eventName {
    margin: 0 auto 5px auto;
}

.details {
    padding: 0;
    list-style-type: none;
    margin: 0;
}

.listItem {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    p {
        padding-left: 16px;
        margin: 0;
    }
}

.icon {
    width: 15px;
}
