.header {
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  position: relative;
  padding: 10vw 0 20vw 0;
  overflow: hidden;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: var(--primary);
    opacity: .8;
  }
}

.wave {
  position: absolute;
  bottom: -1px;
  width: 100%;
  left: 0;
  right: 0;
}

.shapeBackground {
  position: absolute;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}